.navbar {
  background-color: grey;
  border-bottom: 1px solid black;
  padding-left: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.text {
  text-decoration-line: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.6;
}

:hover.text {
  opacity: 1;
}

.selected {
  opacity: 1;
}
