.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.flipping {
  margin-top: 10px;
  display: flex;
  gap: 200px;
}

.link {
  text-decoration: none;
}
